body{
    font-family: 'Raleway', sans-serif;
}

.slide{
}

h1{
    font-family:'Montserrat', sans-serif;
    font: bolder;
}
h3{
    font: bold;
}
h6{
    font: bold;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #download{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
} */

#logoentreprises .col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#logoentreprises img{
    width: 100%;
}
#expertise {
    margin: 150px;
}


